.swiper{
  padding: 32px;
}

.swiper-slide{
  display:flex;
  justify-content:center
}

.swiper-pagination-bullet-active{
  background-color:#FFEB80;
}

.swiper-button-next,.swiper-button-prev{
  color:#FFEB80;
}